<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Note</title>
</head>
<body>
    <h1>Edit Note</h1>
        <form action="/api/notes/<%= noteData._id %>?_method=PUT" method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="<%= noteData.title || '' %>" required maxlength="50">
            <br>
            <label for="content">Content:</label>
            <textarea name="content" id="content" rows="10" required minlength="10"><%= noteData.content || '' %></textarea>
            <br>
            <button type="submit">Update Note</button>
    </form>
    <a href="/notes">Back to Notes</a>
</body>
</html>